* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'unknown';  // The only one heritated by children
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'unknown';
  font-weight: normal;
  line-height: 200%;
}